<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="layout::menu"></nav>
<br>

	<div class="container1">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">

				<div class="card">
					<h5 class="card-header">Contactanos</h5>
					<div class="card-body">

						<form th:action="@{/Contactanos/Contacto}"
							th:object="${contactoForm}" method="POST">
							<div class="form-group">
								<label for="exampleInputEmail1">Nombre</label> <input
									th:field="*{nombre}"  type="text" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Email</label><input
									th:field="*{email}" type="email" th:placeholder="${email}" class="form-control"
									id="exampleInputPassword1">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Asunto</label> <input
									th:field="*{asunto}" type="text" class="form-control"
									id="exampleInputPassword1">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Telefono</label> <input
									th:field="*{telefono}" type="text" class="form-control"
									id="exampleInputPassword1">
							</div>
							<div class="form-group">
								<label for="exampleFormControlTextarea1">Mensaje</label>
								<textarea th:field="*{mensaje}" class="form-control"
									id="exampleFormControlTextarea1" rows="3"></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Enviar</button>
							<div th:if="${visualizar}" class="alert alert-success"
								role="alert">
								<span th:text="${mensaje} ?: ''"></span>
							</div>
						</form>

					</div>
				</div>


			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>